doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
  body
    p.   
     こんにちは、#{data.name} さん
    br
    p.
     ようこそ　FreeCoin　へ
    br
    p.
     ASECを開始するために、下記の認証コードをFREECOINの認証画面に入力してください。
    br
    br
    p.
     認証コード
    p
     |アカウントID：#{data.name}
    p
     |認証コード：#{data.code}
    br
    p.
     FREECOINのご利用ありがとうございます。
    br
    p.
     FREECOINチーム
    br
    p.
     FREECOINアカウントの作成をされていない場合は、このメールは無視してください。