doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
  body
    p.   
     Hi, #{data.name}!
    br
    p.
     Welcome to FreeCoin!
    br
    p.
     In order to start FreeCoin account, copy the verification code below to the FreeCoin verification page.
    br
    br
    p.
     Your Verification Code is:
    p
     |ACCOUNT ID：#{data.name}
    p
     |VERIFICATION CODE：#{data.code}
    br
    p.
     Thank you for using FREE COIN.
    br
    p.
     The FreeCoin Team
    br
    p.
     If you did not sign up for this account you can ignore this email and the account will be deleted.